[user]
	name = Periti Sumus
	email = peritiSumus@gmail.com
	username = peritiSumus@gmail.com

[github]
	user = peritiSumus@gmail.com
	token = 3e629cda1f992dc64284d89101cbac03db36fdba

[credential "https://github.com"]
	user = peritiSumus@gmail.com
	token = 3e629cda1f992dc64284d89101cbac03db36fdba